<p>Bonjour {{ user.firstname }} {{ user.lastname }}</p>
<p>Pour votre demande de réinitialisation de mot de passe, veuillez cliquer sur le lien suivant : <a href="{{ url|raw }}">réinitialisation</a></p>
<p>Merci</p>